 :root {
    --section-width: 100%
 }
 
 * {
    font-family: 'roboto';
 }

 body {
    display: flex;
    flex-direction: row;
 }

header {
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    overflow:inherit;
    background-image: url(images/stoic.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size:auto
}

 .titles p,.divform p {
    font-weight: 600;

    line-height: 1.5rem;
 }

 form {
    display: flex;
    gap: 2em;
    flex-direction: row;
    align-content: space-evenly;
    flex-wrap: wrap;
    min-width: 215px;
    width:100%;
 }

 .divform{
    display:flex;
    width:100%;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    padding-top:0;
 }

 .titles,.useraction{
    background-color: rgb(240, 240, 240);
 }

 section {
    padding: 2rem;
 }

 .formelem,.divpass  {
    display:flex;
    width:185px;
    flex-direction: column;
    flex-wrap: nowrap;
 }

 .titles {
    padding-top: 80px;
 }

.divform input[type="text"],
.divform input[type="email"],
.divform input[type="password"],
.divform input[type="tel"]{
    background-color: rgb(253, 251, 248);
    border-radius: 10px;
    display:flex;
    padding:8px;
}

.divform input[type="text"]:valid,
.divform input[type="email"]:valid,
.divform input[type="password"]:valid,
.divform input[type="tel"]:valid{
    border:2px solid rgb(74, 1, 143);
}


 .divform input[type="text"]:invalid:not(:placeholder-shown),
 .divform input[type="password"]:invalid:not(:placeholder-shown),
 .divform input[type="email"]:invalid:not(:placeholder-shown),
 .divform input[type="tel"]:invalid:not(:placeholder-shown){
    border:2px solid rgba(255, 26, 26, 0.952);
 }

 button[type="submit"]{
    background-color: rgb(27, 0, 88);
    color:aliceblue;
    border: 2px solid black;
    width:auto;
    height:40px;
    border-radius: 10px;
 }


 a:visited {
    color:rgb(52, 0, 100)
 }

 .useraction a:link{
    color:blue;
}

.divform input:hover {
    background-color: aliceblue;
}

button:hover{
    background-color: rgb(27, 0, 88);
    border: solid white 2px;
    font-weight: bold;
}