 :root {
    --section-width: 100%
 }
 
 * {
    font-family: 'roboto';
 }

 html, body {
   height: 100%; /* Establecer el tamaño de la página al 100% del viewport */
   margin: 0; /* Eliminar los márgenes predeterminados */
   padding: 0; /* Eliminar los rellenos predeterminados */
   display: flex;
}

header {
    min-width: 400px;
    width: 100%;
    max-width: 800px;
    overflow:hidden;
    background-image: url(images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
    background-repeat: repeat;
    background-size:cover;
    height: 100%;
}

 .titles p,.divform p {
    font-weight: 600;
    line-height: 1.5rem;    
 }

.forelem {
   position: relative;
}

.divform span {
   text-align: center;
   display:flex;
   justify-content: center;
}

 form {
    display: flex;
    gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px; 
    flex:1;   
    
 }

 .divform{
    display:flex;
    flex-direction: column;
    background-color: white;
    padding-top:30px;
    height:auto;
    align-items: flex-start;
    max-width:100vw;
    flex:1;
    flex-wrap: wrap;

 }

 .titles,.useraction{
    background-color: rgb(240, 240, 240);
 }

 section {
    padding: 2rem;
    display:flex;
    flex-direction: column;
 }


 .titles {
    padding-top: 80px;
    flex:0.5
 }

.divform input[type="text"],
.divform input[type="email"],
.divform input[type="password"],
.divform input[type="tel"]{
    background-color: rgb(253, 251, 248);
    border-radius: 10px;
    display:flex;
    padding:8px;
}

.divform input[type="text"]:valid,
.divform input[type="email"]:valid,
.divform input[type="password"]:valid,
.divform input[type="tel"]:valid{
    border:2px solid rgb(74, 1, 143);
}


 .divform input[type="text"]:invalid:not(:placeholder-shown),
 .divform input[type="password"]:invalid:not(:placeholder-shown),
 .divform input[type="email"]:invalid:not(:placeholder-shown),
 .divform input[type="tel"]:invalid:not(:placeholder-shown){
    border:2px solid rgba(255, 26, 26, 0.952);
 }

 button[type="submit"]{
    background-color: rgb(27, 0, 88);
    color:aliceblue;
    border: 2px solid black;
    width:auto;
    height:40px;
    border-radius: 10px;
    font-size: 1.3rem;
 }

 a:visited {
    color:rgb(52, 0, 100)
 }

 .useraction span {
   font-size: 1.3rem;
 }
 .useraction a:link{
    color:blue;
    font-size: 1.2rem;
}

.divform input:hover {
    background-color: aliceblue;
}

button:hover{
    background-color: rgb(27, 0, 88);
    border: solid white 2px;
    font-weight: bold;
}

.useraction {
   display:flex;
   align-items: flex-start;
   justify-content: flex-start;
   justify-self: flex-end;
   flex:0.5;
}

main {
   display:flex;
   flex-direction: column;
}

*::placeholder{
   text-align: center;
   font-size: 1.2rem;
}

.divform p {
   font-size: 1.8rem;
   font-style: italic;
}

.titles p{
   font-size: 1.3rem;
}

.titles,
.useraction{
   max-width: 100vw;
}

.divform input[type="text"]:user-invalid:not(:placeholder-shown) + span::after {
   color: white;
   background-color: red;
   width: 185px;
   content: "Please enter a valid name bro";
   font-size: 0.9rem;
   margin-top: 3px;
   border-radius: 10px;
 }

 .divform input[type="email"]:invalid:not(:placeholder-shown) + span::after{
   color: white;
   background-color: red;
   width: 185px;
   content: "Enter a valid email bro";
   font-size: 0.9rem;
   margin-top: 3px;
   border-radius: 10px;
 }
 .divform input[type="tel"]:invalid:not(:placeholder-shown) + span::after{
   color: white;
   background-color: red;
   width: 185px;
   content: "Enter a valid phone number (?)";
   font-size: 0.9rem;
   margin-top: 3px;
   border-radius: 10px;
 }